.body {
    margin-top: 126px;
}

.row .col-3 {
    padding-right: 15px;
    padding-left: 15px;
}

.row .box1.col-3 {
    padding-left: 0 !important;
}

.row .box4.col-3 {
    padding-right: 0 !important;
}

.banner {
    background-color: #F2F7FB;
    height: auto;
    margin-bottom: 40px;
}

.banner .container {
    display: flex;
    justify-content: space-between;
    height: 508px;

    align-items: center;
}

.banner .container img {
    position: absolute;
    width: 791px;
    left: 54%;

}

.banner .container .content_banner .tilte {
    font-family: var(--font-family);
    font-size: 54px;
    font-weight: bold;
    color: #1D1E20;
    line-height: 64px;
    margin-bottom: 16px;
}

.banner .container .content_banner .sub_tilte {
    font-family: var(--font-family);
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 300;
}

.banner .container .content_banner .body_text {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 26px;
}

.banner .container .content_banner .btn {
    margin-top: 20px;
    border-radius: 12px;
    background-color: #2F70B3;
    outline: none;
    border: none;
    height: 44px;
    width: 140px;
    font-family: var(--font-family);
    font-size: 16px;
    box-shadow: rgba(47, 112, 179, 0.2) 0px 7px 29px 0px !important;
}


.banner .container .content_banner .btn:hover {
    background-color: #272829 !important;
}
.sub_banner .container .banner1,.sub_banner .container .banner2{
    background-color: #F2F7FB;
}
.sub_banner .container{
    display: flex;
    justify-content: space-between;
}
.sub_banner .container .banner1{
    background-image: url(../../Img/banner1.png);
    background-repeat: no-repeat;
    padding: 42px;
    padding-left: 50px;
    padding-right: 142px;
    background-position: right bottom;
    background-size: 250px;
    border-radius: 10px;
    height: auto;
    width: 100%;
    margin-right: 15px;
}
.sub_banner .container .banner2{
    background-image: url(../../Img/banner2.png);
    background-repeat: no-repeat;
    padding: 42px;
    padding-left: 50px;
    padding-right: 142px;
    background-position: right bottom;
    background-size: 200px;
    border-radius: 10px;
    height: auto;
    width: 100%;
    margin-left: 15px;
}
.sub_banner{
    margin-bottom: 100px;
}
.sub_banner .container .banner1 h3,.sub_banner .container .banner2 h3{
    font-size:36px ;
    font-family: var(--font-family);
    color: #272829;
    font-weight: 600;
}
.sub_banner .container .banner1 p,.sub_banner .container .banner2 p{
    font-size:16px ;
    font-family: var(--font-family);
    color: #5A6D80;
    font-weight: 300;
}
.sub_banner .container .banner1 .btn,.sub_banner .container .banner2 .btn{
    background-color: #2F70B3;
    border: none;
    border-radius: 12px;
    margin-top: 10px;
    font-family: var(--font-family);
    height: 44px;
    width: 120px;
}
.sub_banner .container .banner1 .btn:active,.sub_banner .container .banner2 .btn:active{
    background-color: #272829 !important;
}
.sub_banner .container .banner1 .btn:hover,.sub_banner .container .banner2 .btn:hover{
    background-color: #272829 !important;
}

.react-multiple-carousel__arrow{
    background-color: #EDF3F9 !important;
    transform: translateY(-95px);
    z-index: 0 !important;
   
    
}
.react-multiple-carousel__arrow::before {
    color: #1D1E20 !important;
}
.New_arrival_products .container{
    position: relative;
}
.carousel-button-group .one{
    background-color: #1D1E20 !important;
}
.react-multiple-carousel__arrow--right {
    right: calc(2% + 1px) !important;
    display: block !important;
}
.react-multiple-carousel__arrow--left {
    left: calc(-1% + 1px) !important;
    display: block !important;
}
.New_arrival_products h1{
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 36px;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
.react-multi-carousel-list{
    position: unset !important;
}
.banner_body .container{
    background-color: #FFF5F0;
    background-image: url(../../Img/body_banner.png);
    background-repeat: no-repeat;
    background-size: 1000px;
    background-position: center;
    border-radius: 10px;
    padding: 95px 290px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.coutdown{
    display: flex;
}